@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.container-large {
  display: none;
}

@include breakpoint-sm {
  .container-small {
    display: none;
  }
}

@include breakpoint-lg {
  .container-large {
    display: unset;
  }
}
