@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

$max-carbonad-width: 130px;

.container {
  position: fixed;
  top: calc((100% - 217px) / 2);
  left: calc(16px + ((100% - #{$layout-post-width}) / 2 - #{$max-carbonad-width}) / 2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms ease;
}
