@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.desktop-only {
  display: none;
}

@include breakpoint-sm {
  &.mobile-only {
    display: none;
  }

  &.desktop-only {
    display: unset;
  }
}
