@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.share {
  position: fixed;
  top: 0;
  left: 3px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  @include transition(opacity);

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  button {
    height: 32px;
    margin: 0;

    > svg > rect {
      @include transition(opacity);
    }

    &:hover {
      // Hack to override the inline background-color style
      // provided by the react-share component
      background-color: black !important;

      > svg > rect {
        opacity: 0.8;
      }
    }
  }
}
