@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.share {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  transition: opacity 250ms ease-in;

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  button {
    height: 32px;
    margin: 4px 0;
  }
}
