@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.menu {
  @include margin-bottom(0.75);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    &-item {
      padding: 0 10px;
      margin: 10px 0;
      display: inline-block;

      &-link {
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
        font-weight: normal;
        border: 0;

        &:hover,
        &:focus {
          color: $color-primary;
          border-bottom: 1px solid $color-primary;
        }

        &--active {
          color: $color-base;
          border-bottom: 1px solid $color-base;
          font-weight: bold;
        }
      }
    }
  }
}

.bold {
  font-weight: 600;
}

@include breakpoint-sm {
  .menu__list {
    text-align: initial;

    &-item {
      padding: 0;
      display: list-item;
    }
  }

  .menu.horizontal {
    margin: 0;

    li {
      display: inline-block;
      @include margin-right(1);
    }
  }
}
