@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.header {
  width: 100%;
  height: 60px;
  background: white;
  box-shadow: 0 4px 15px $color-gray-bg;
  display: flex;
  flex-direction: row;

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-left: 10%;

    &-photo img {
      border-radius: 50%;
    }

    &-name {
      margin: 0 0 0 10px;

      &-link {
        color: $color-base;

        &:hover {
          color: $color-base;
        }
      }
    }
  }

  &__right {
    display: none;
  }
}

@include breakpoint-sm {
  .header {
    &__left {
      justify-content: flex-start;
    }

    &__right {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10%;
    }
  }

}
