@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.header {
  width: 100%;
  height: 60px;
  background: white;
  box-shadow: 0 4px 15px $color-gray-bg;
  display: flex;
  flex-direction: row;

  // Needed to stay above the popup
  position: relative;
  z-index: 1;

  &.no-shadow {
    box-shadow: none;
  }

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    &-photo img {
      border-radius: 50%;
    }

    &-name {
      margin: 0 0 0 10px;

      &-link {
        color: $color-base;

        &:hover {
          color: $color-base;
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
  }

  &__burger {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 8px;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    &.open {
      opacity: 0.5;
    }
  }
}

.popup {
  box-shadow: 0 4px 15px $color-gray-bg;
  background: white;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
}
