@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &__title, &__subtitle {
    max-width: $layout-post-width;
    margin: 0 auto;
  }

  &__title {
    font-weight: 500;
    font-size: $typographic-base-font-size * 1.6;
    @include line-height(1.2);
    @include margin-top(0.8);
  }

  &__subtitle {
    font-weight: normal;
    color: $typographic-light-font-color;
    font-size: $typographic-base-font-size * 1.2;
    @include line-height(0.9);
    @include margin-top(0.2);
    @include margin-bottom(0.5);
  }

  &__body {
    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);

        & p {
          max-width: $layout-post-width;
          font-size: $typographic-base-font-size * 1.6817;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5);
        }

      }

    }

    & a {
      text-decoration: underline
    }

    // stylelint-disable
    // stylelint doesn't recognize :global() from css-modules
    & :global(pre.language-python) {
      font-size: $typographic-base-font-size * 0.75;
      border: 1px solid $color-gray-border;
      border-radius: 3px;
      @include line-height(0.75);
    }

    & :global(code[class*="language-"]) {
      font-size: $typographic-base-font-size * 0.9;
      color: $typographic-base-font-color;
      font-style: normal;
      padding: 3px 4px;
      border-radius: 2px;
    }
    // stylelint-enable

    & *:not(div) {
      width: 100%;
      max-width: $layout-post-width;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include breakpoint-sm {
  .content {
    &__title {
      font-size: $typographic-base-font-size * 2;
      @include line-height(1.5);
      @include margin-top(1);
    }

    &__subtitle {
      font-size: $typographic-base-font-size * 1.5;
      @include line-height(1.125);
      @include margin-bottom(0.75);
    }
  }
}

@include breakpoint-md {
  .content {
    padding: 0;

    &__title {
      font-size: $typographic-base-font-size * 2.5;
      @include line-height(2);
      @include margin-top(2.5);
    }

    &__subtitle {
      font-size: $typographic-base-font-size * 1.875;
      @include line-height(1.5);
      @include margin-bottom(1);
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);

      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125)
      }

    }

  }

}
