@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.copyright {
  color: $color-gray-shadow;
  font-size: $typographic-small-font-size;
  text-align: center;
}

@include breakpoint-sm {
  .copyright {
    text-align: center;
  }
}
