@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  &__footer, &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@include breakpoint-sm {
  .post__subscribeForm {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@include breakpoint-md {
  .post {
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }
  }
}
