@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 5px;
}

.button.clicked {
  opacity: 0.75;
}

.button.clicked:hover {
  cursor: default;
}
