@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.contacts {
  @include margin-top(0.75);
  @include margin-bottom(0.75);

  &__list {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 10px -3px;

    &-item {
      padding: 0;
      margin: 4px;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: $button-height;
      width: $button-height;
      line-height: $button-height;
      border-radius: 50%;
      text-align: center;
      border: 1px solid $color-gray-border;

      &-link {
        border: 0;
        display: flex;
        color: $color-base;

        &:hover,
        &:focus {
          color: $color-primary;
        }
      }
    }
  }
}

@include breakpoint-sm {
  .contacts {
    @include margin-top(1);
    @include margin-bottom(1);

    &__list {
      justify-content: initial;
    }
  }
}
